<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Home Page </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/home-page-.css"/>
</head>
<body>
<div class="home-page--XiD">
  <div class="navbar-Kty">
  </div>
  <div class="auto-group-21iv-duf">
    <div class="auto-group-kgpx-tz1">
      <p class="dashboard-or5">Dashboard</p>
      <div class="auto-group-vyoj-7Ly">
        <div class="upload-file-TQq">
          <p class="upload-new-data-1BT">Upload new data</p>
          <div class="upload-button-rbP">Upload </div>
        </div>
        <div class="line-25-hru">
        </div>
        <div class="view-data-set-3A5">
          <p class="view-data-sets-zLD">View data sets</p>
          <div class="view-button-6e9">View</div>
        </div>
      </div>
      <div class="table-v7P">
        <div class="auto-group-m3sd-e3P">
          <p class="jumlah-produk-ikan-fish-yang-dibeli-oleh-tiap-kelompok-education-MTb">Jumlah produk ikan (fish) yang dibeli oleh tiap kelompok Education</p>
          <div class="view-more-FJ5">View more</div>
        </div>
        <div class="auto-group-1nuv-trq">
          <div class="count-of-fish-2CM">
            <p class="count-of-fish-jcZ">Count of Fish</p>
            <p class="item-10-Fqo">10</p>
            <div class="item-21-NvR">21</div>
            <div class="item-15-mBs">15</div>
            <div class="item-32-tXP">32</div>
            <div class="item-25-cyB">25</div>
          </div>
          <div class="education-Z7j">
            <p class="education-sPK">Education</p>
            <p class="primary-school-o25">Primary School</p>
            <div class="junior-high-school-L21">Junior High School</div>
            <div class="high-school-3h7">High School</div>
            <div class="college-BHX">College</div>
            <div class="university-iYM">University</div>
          </div>
          <div class="table-line-SjF">
            <div class="line-22-Y1b">
            </div>
            <div class="line-21-GCV">
            </div>
            <div class="line-20-c1T">
            </div>
            <div class="line-19-wZX">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auto-group-etgy-PRX">
      <div class="bar-chart-Y3X">
        <div class="auto-group-lxs1-fP3">
          <p class="numdealspurchases-P49">NumDealsPurchases</p>
          <div class="view-more-5hf">View more</div>
        </div>
        <div class="auto-group-mgso-Z73">
          <div class="bar-chart-line-6sf">
            <div class="line-10-PLy">
            </div>
            <div class="line-9-w7b">
            </div>
            <div class="line-8-HSM">
            </div>
            <div class="line-7-eGu">
            </div>
          </div>
          <div class="row-Nih">
            <p class="item-1000-JcM">1000</p>
            <p class="item-800-STf">800</p>
            <div class="auto-group-elbf-xwo">
              <p class="frequency-4jw">Frequency</p>
              <p class="item-600-PGR">600</p>
            </div>
            <p class="item-400-6wX">400</p>
            <p class="item-200-EH3">200</p>
          </div>
          <div class="col-mXs">
            <p class="item-0-VTs">0</p>
            <p class="item-2-Duf">2</p>
            <p class="item-4-Mky">4</p>
            <p class="item-6-tku">6</p>
            <div class="auto-group-tnpf-qAM">
              <p class="item-8-ATX">8</p>
              <p class="numdealspurchases-6c5">NumDealsPurchases</p>
            </div>
            <p class="item-10-EyB">10</p>
            <p class="item-12-mTK">12</p>
            <p class="item-14-hrm">14</p>
          </div>
          <div class="bar-rDs">
            <div class="rectangle-NT7">
            </div>
            <div class="rectangle-VGq">
            </div>
            <div class="rectangle-2Gm">
            </div>
            <div class="rectangle-xgD">
            </div>
            <div class="rectangle-uLZ">
            </div>
            <div class="rectangle-2vy">
            </div>
            <div class="rectangle-AXP">
            </div>
          </div>
        </div>
      </div>
      <div class="scatter-plot-gVj">
        <div class="scatter-plot-cPP">
          <div class="auto-group-7xxj-NdT">
            <p class="numdealspurchases-tbo">NumDealsPurchases</p>
            <div class="view-more-pVT">View more</div>
          </div>
          <div class="auto-group-mra1-tVK">
            <div class="row-S13">
              <p class="item-1000-m3K">1000</p>
              <p class="item-800-ttd">800</p>
              <div class="auto-group-7gdj-d5X">
                <p class="frequency-ZE5">Frequency</p>
                <p class="item-600-HA5">600</p>
              </div>
              <p class="item-400-RGH">400</p>
              <p class="item-200-MQq">200</p>
            </div>
            <div class="col-gxu">
              <p class="item-0-pZK">0</p>
              <p class="item-2-9bb">2</p>
              <p class="item-4-t3P">4</p>
              <p class="item-6-zs7">6</p>
              <div class="auto-group-bvmp-iHK">
                <p class="item-8-Sz1">8</p>
                <p class="numdealspurchases-mWV">NumDealsPurchases</p>
              </div>
              <p class="item-10-c1K">10</p>
              <p class="item-12-6SH">12</p>
              <p class="item-14-yW5">14</p>
            </div>
            <div class="scatter-lines-HWm">
              <div class="line-16-mgq">
              </div>
              <div class="line-15-WuK">
              </div>
              <div class="line-14-fXK">
              </div>
              <div class="line-13-BkZ">
              </div>
            </div>
            <img class="scatter-plot-beads-JaH" src="./assets/scatter-plot-beads-vhb.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>