<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Meringkas data</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="./styles/meringkas-data-JHB.css"/>
</head>
<body>
<div class="meringkas-data-8A9">
  <div class="rectangle-1-GXF">
  </div>
  <p class="ringkas-data-DBb">Ringkas data</p>
  <div class="auto-group-xddf-vrh">
    <div class="auto-group-a1pt-4T7">
      <p class="select-data-set-NTo">Select data set</p>
      <div class="auto-group-ufyo-6Po">
        <p class="row-3K3">Row</p>
        <p class="column-9ss">Column</p>
        <div class="line-4-frD">
        </div>
        <div class="line-5-cFf">
        </div>
      </div>
    </div>
    <div class="line-2-hH7">
    </div>
    <div class="auto-group-jjwy-2aH">
      <div class="auto-group-ik85-MMf">
        <div class="auto-group-72rh-HWD">Variabel</div>
        <div class="auto-group-wbuh-NnZ">Variabel</div>
        <div class="auto-group-s8uk-UKo">Variabel</div>
        <div class="auto-group-ohbj-YU5">Variabel</div>
        <div class="auto-group-w42h-D4R">Variabel</div>
      </div>
      <div class="scatter-plot-Jbf">
        <div class="scatter-plot-1ky">
          <p class="numdealspurchases-mVF">NumDealsPurchases</p>
          <div class="auto-group-fmau-f4q">
            <div class="row-CaZ">
              <p class="item-1000-LAy">1000</p>
              <p class="item-800-eSZ">800</p>
              <div class="auto-group-wgxf-ZpR">
                <p class="frequency-6ZT">Frequency</p>
                <p class="item-600-RLq">600</p>
              </div>
              <p class="item-400-YgM">400</p>
              <p class="item-200-fky">200</p>
            </div>
            <div class="col-buX">
              <p class="item-0-vB7">0</p>
              <p class="item-2-q3B">2</p>
              <p class="item-4-9pZ">4</p>
              <p class="item-6-5y7">6</p>
              <div class="auto-group-bu4q-DJd">
                <p class="item-8-9i5">8</p>
                <p class="numdealspurchases-HZP">NumDealsPurchases</p>
              </div>
              <p class="item-10-d7T">10</p>
              <p class="item-12-xQd">12</p>
              <p class="item-14-h7K">14</p>
            </div>
            <div class="scatter-lines-pxd">
              <div class="line-16-WaZ">
              </div>
              <div class="line-15-TVo">
              </div>
              <div class="line-14-Qfw">
              </div>
              <div class="line-13-NMs">
              </div>
            </div>
            <img class="scatter-plot-beads-WDB" src="./assets/scatter-plot-beads.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>