<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="public/navbar.js" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
    <title>navbar</title>
</head>
<body> 
    <header>
        <div class="bar">
            <div class="barpilihan">
                <a name="home" href="/">Dashboard</a>
                <a name="data-summary" href="data-summary">Data Summary</a>
                <a name="barChart" href="bar-chart">Bar Chart</a>
                <a name="scatterPlot" href="scatter-plot">Scatter Plot</a>
            </div>
        </div>
        
    </header>
</body>
</html>