
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home-page--XiD {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #fefffc;
  padding-bottom: 6.9rem;
  display: flex;
  flex-direction: column;

  .navbar-Kty {
    background-color: #292929;
    flex-shrink: 0;
    margin-bottom: 5.8rem;
    width: 100%;
    height: 11.9rem;
  }
  .auto-group-21iv-duf {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 14.9rem 0rem 15rem;
    width: calc(100% - 29.9rem);
    height: 83.4rem;

    .auto-group-kgpx-tz1 {
      width: 96.7rem;
      height: 100%;
      row-gap: 2.6rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.4rem;

      .dashboard-or5 {
        flex-shrink: 0;
        font-size: 7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-vyoj-7Ly {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .upload-file-TQq {
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-right: 2.1rem;

          .upload-new-data-1BT {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 2.6rem 0rem 0rem;
            font-size: 3rem;
            font-weight: 500;
          }
          .upload-button-rbP {
            line-height: 1.2125;
            display: flex;
            border-radius: 2rem;
            flex-shrink: 0;
            height: 100%;
            font-size: 2.6rem;
            font-weight: 500;
            background-color: #292929;
            width: 20.8rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            color: #fefffc;
            white-space: nowrap;
          }
        }
        .line-25-hru {
          margin-right: 2.2rem;
          width: 0.1rem;
          height: 5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .view-data-set-3A5 {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 2rem;

          .view-data-sets-zLD {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 2.6rem 0rem 0rem;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .view-button-6e9 {
            white-space: nowrap;
            justify-content: center;
            border-radius: 2rem;
            flex-shrink: 0;
            width: 20.8rem;
            line-height: 1.2125;
            color: #fefffc;
            display: flex;
            align-items: center;
            background-color: #292929;
            height: 100%;
            font-size: 2.6rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .table-v7P {
        padding: 2.8rem 4.5rem 23.2rem 3.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #e8e8e8;
        box-sizing: border-box;
        width: 100%;
        border: solid 0.1rem #000000;
        border-radius: 2rem;
        flex-shrink: 0;

        .auto-group-m3sd-e3P {
          margin: 0rem 0.8rem 4.7rem 0rem;
          width: calc(100% - 0.8002rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .jumlah-produk-ikan-fish-yang-dibeli-oleh-tiap-kelompok-education-MTb {
            max-width: 57.7rem;
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 11.7rem;
          }
          .view-more-FJ5 {
            box-sizing: border-box;
            font-size: 2.2rem;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            height: 5rem;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            width: 18.7rem;
            font-weight: 500;
            display: flex;
            border-radius: 2rem;
            margin-top: 0.2rem;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            background-color: #fefffc;
          }
        }
        .auto-group-1nuv-trq {
          position: relative;
          flex-shrink: 0;
          margin-left: 1rem;
          width: 87.9002rem;
          height: 27.6rem;

          .count-of-fish-2CM {
            left: 39rem;
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 10.1rem;
            height: 25.9rem;
            position: absolute;

            .count-of-fish-jcZ {
              font-size: 1.6rem;
              line-height: 1.2125;
              flex-shrink: 0;
              margin-bottom: 2.7rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
            }
            .item-10-Fqo {
              margin-bottom: 3.3rem;
              text-align: center;
              font-size: 1.3rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              flex-shrink: 0;
            }
            .item-21-NvR {
              align-items: center;
              justify-content: center;
              font-size: 1.3rem;
              font-weight: 400;
              flex-shrink: 0;
              margin-bottom: 3.3rem;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-15-mBs {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.3rem;
              justify-content: center;
              font-weight: 400;
              line-height: 1.2125;
              flex-shrink: 0;
            }
            .item-32-tXP {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              margin-bottom: 3.3rem;
              font-size: 1.3rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-25-cyB {
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              color: #000000;
              display: flex;
              font-size: 1.3rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .education-Z7j {
            width: 9.3rem;
            height: 25.9rem;
            position: absolute;
            left: 1.7rem;
            top: 0;
            align-items: center;
            display: flex;
            flex-direction: column;

            .education-sPK {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.1rem 2.7rem 0rem;
            }
            .primary-school-o25 {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
              margin-bottom: 2.5rem;
              text-align: center;
              font-size: 1.3rem;
            }
            .junior-high-school-L21 {
              line-height: 1.2125;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              font-size: 1.3rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              max-width: 7rem;
              display: flex;
            }
            .high-school-3h7 {
              flex-shrink: 0;
              margin-bottom: 3.3rem;
              justify-content: center;
              font-size: 1.3rem;
              white-space: nowrap;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              font-weight: 400;
              line-height: 1.2125;
            }
            .college-BHX {
              display: flex;
              font-size: 1.3rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.3rem;
              align-items: center;
              justify-content: center;
              font-weight: 400;
            }
            .university-iYM {
              justify-content: center;
              font-size: 1.3rem;
              flex-shrink: 0;
              align-items: center;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
            }
          }
          .table-line-SjF {
            height: 24.5759rem;
            top: 3.0241rem;
            row-gap: 4.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 4.876rem 0rem 4.9rem 0rem;
            width: 87.9002rem;
            left: 0;
            border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
            border-top: solid 0.3rem rgba(41, 41, 41, 0.150000006);
            box-sizing: border-box;
            position: absolute;

            .line-22-Y1b {
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
              flex-shrink: 0;
              margin-right: 0.0002rem;
              width: calc(100% - 0.0002rem);
            }
            .line-21-GCV {
              background-color: rgba(41, 41, 41, 0.150000006);
              flex-shrink: 0;
              margin-right: 0.0002rem;
              width: calc(100% - 0.0002rem);
              height: 0.1rem;
            }
            .line-20-c1T {
              margin-right: 0.0002rem;
              width: calc(100% - 0.0002rem);
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
              flex-shrink: 0;
            }
            .line-19-wZX {
              flex-shrink: 0;
              margin-right: 0.0002rem;
              width: calc(100% - 0.0002rem);
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
            }
          }
        }
      }
    }
    .auto-group-etgy-PRX {
      flex-direction: column;
      flex-shrink: 0;
      width: 63rem;
      height: 100%;
      align-items: center;
      display: flex;

      .bar-chart-Y3X {
        box-sizing: border-box;
        align-items: center;
        background-color: #e8e8e8;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        padding: 1.7rem 2.7rem 2.1rem 1.6rem;
        width: 100%;

        .auto-group-lxs1-fP3 {
          flex-shrink: 0;
          margin: 0rem 0rem 1.6rem 1.7rem;
          width: calc(100% - 1.7rem);
          height: 5rem;
          display: flex;
          align-items: center;

          .numdealspurchases-P49 {
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 12.6rem 0rem 0rem;
          }
          .view-more-5hf {
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            font-size: 2.2rem;
            color: #000000;
            border: solid 0.1rem #000000;
            background-color: #fefffc;
            flex-shrink: 0;
            width: 18.7rem;
            height: 100%;
            display: flex;
            justify-content: center;
            border-radius: 2rem;
          }
        }
        .auto-group-mgso-Z73 {
          flex-shrink: 0;
          width: 100%;
          height: 30.2rem;
          position: relative;

          .bar-chart-line-6sf {
            border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
            border-top: solid 0.1rem rgba(41, 41, 41, 0.150000006);
            width: 52.9rem;
            height: 25.6rem;
            position: absolute;
            left: 5.8rem;
            top: 0.6rem;
            align-items: center;
            box-sizing: border-box;
            padding: 5.1rem 0;
            row-gap: 5rem;
            display: flex;
            flex-direction: column;

            .line-10-PLy {
              flex-shrink: 0;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
            }
            .line-9-w7b {
              width: 100%;
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
              flex-shrink: 0;
            }
            .line-8-HSM {
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
              flex-shrink: 0;
              width: 100%;
            }
            .line-7-eGu {
              flex-shrink: 0;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(41, 41, 41, 0.150000006);
            }
          }
          .row-Nih {
            position: absolute;
            left: 0;
            top: 0;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            width: 4.8rem;
            height: 21.7rem;

            .item-1000-JcM {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.8rem;
              font-size: 1rem;
            }
            .item-800-STf {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.2rem 2.9rem 0rem;
              font-size: 1rem;
            }
            .auto-group-elbf-xwo {
              width: calc(100% - 0.2rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 0.2rem 0.6rem 0rem;

              .frequency-4jw {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 1.3rem;
                max-width: 1.4rem;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
              .item-600-PGR {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.9rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .item-400-6wX {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.2rem 3.8rem 0rem;
              font-size: 1rem;
            }
            .item-200-EH3 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.2rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .col-mXs {
            top: 25.5rem;
            display: flex;
            align-items: center;
            width: 52.2rem;
            height: 4.7rem;
            position: absolute;
            left: 3.9rem;

            .item-0-VTs {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 5.1rem 3.4rem 0rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .item-2-Duf {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.7rem 0.8rem 0rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .item-4-Mky {
              flex-shrink: 0;
              margin: 0rem 6.7rem 0.8rem 0rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item-6-tku {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1.6rem 0.8rem 0rem;
              font-size: 1rem;
              font-weight: 400;
            }
            .auto-group-tnpf-qAM {
              margin: 1.3rem 1.7rem 0rem 0rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-8-ATX {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 0.7rem 0.1rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .numdealspurchases-6c5 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .item-10-EyB {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.7rem 0.8rem 0rem;
              font-size: 1rem;
            }
            .item-12-mTK {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 6.7rem 0.8rem 0rem;
              font-size: 1rem;
            }
            .item-14-hrm {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .bar-rDs {
            align-items: flex-end;
            width: 46.0485rem;
            height: 16.0897rem;
            position: absolute;
            left: 9.7495rem;
            top: 9.926rem;
            display: flex;

            .rectangle-NT7 {
              flex-shrink: 0;
              margin: 0rem 6.25rem 0.116rem 0rem;
              width: 1.0505rem;
              height: 15.974rem;
              background-color: #000000;
            }
            .rectangle-VGq {
              margin: 0rem 6.252rem 0.116rem 0rem;
              width: 0.998rem;
              height: 7.5911rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .rectangle-2Gm {
              margin: 0rem 6.502rem 0.046rem 0rem;
              width: 0.998rem;
              height: 14.67rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .rectangle-xgD {
              width: 1.0505rem;
              height: 5.2626rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 6.449rem 0.053rem 0rem;
            }
            .rectangle-uLZ {
              margin: 0rem 7.002rem 0.084rem 0rem;
              width: 0.998rem;
              height: 10.432rem;
              background-color: #292929;
              flex-shrink: 0;
            }
            .rectangle-2vy {
              height: 11.8757rem;
              background-color: #292929;
              flex-shrink: 0;
              margin: 0rem 6.449rem 0.04rem 0rem;
              width: 1.0505rem;
            }
            .rectangle-AXP {
              background-color: #292929;
              flex-shrink: 0;
              width: 0.998rem;
              height: 8.6157rem;
            }
          }
        }
      }
      .scatter-plot-gVj {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 2.7rem 2.4rem 1.6rem;
        width: 100%;
        height: 40.6rem;
        background-color: #e8e8e8;
        border-radius: 2rem;
        border: solid 0.1rem #000000;

        .scatter-plot-cPP {
          height: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          width: 100%;

          .auto-group-7xxj-NdT {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0rem 1.4rem 1.7rem;
            width: calc(100% - 1.7rem);
            height: 5rem;

            .numdealspurchases-tbo {
              font-size: 2.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 12.6rem;
            }
            .view-more-pVT {
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              flex-shrink: 0;
              font-size: 2.2rem;
              color: #000000;
              align-items: center;
              justify-content: center;
              border: solid 0.1rem #000000;
              width: 18.7rem;
              font-weight: 500;
              box-sizing: border-box;
              background-color: #fefffc;
              height: 100%;
              line-height: 1.2125;
              white-space: nowrap;
              border-radius: 2rem;
            }
          }
          .auto-group-mra1-tVK {
            height: 30.2rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .row-S13 {
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              width: 4.8rem;
              height: 21.7rem;
              position: absolute;
              left: 0;
              top: 0;

              .item-1000-m3K {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.8rem;
                font-size: 1rem;
              }
              .item-800-ttd {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0.2rem 2.9rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .auto-group-7gdj-d5X {
                margin: 0rem 0.2rem 0.6rem 0rem;
                width: calc(100% - 0.2rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .frequency-ZE5 {
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 1.3rem;
                  max-width: 1.4rem;
                  font-size: 1.1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                }
                .item-600-HA5 {
                  flex-shrink: 0;
                  margin-top: 0.9rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-400-RGH {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0.2rem 3.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-200-MQq {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.2rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .col-gxu {
              align-items: center;
              width: 52.2rem;
              height: 4.7rem;
              position: absolute;
              left: 3.9rem;
              top: 25.5rem;
              display: flex;

              .item-0-pZK {
                margin: 0rem 5.1rem 3.4rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-9bb {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.7rem 0.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
              }
              .item-4-t3P {
                margin: 0rem 6.7rem 0.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-6-zs7 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 1.6rem 0.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .auto-group-bvmp-iHK {
                margin: 1.3rem 1.7rem 0rem 0rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-8-Sz1 {
                  margin: 0rem 0rem 0.7rem 0.1rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .numdealspurchases-mWV {
                  flex-shrink: 0;
                  font-size: 1.1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .item-10-c1K {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.7rem 0.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .item-12-6SH {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 6.7rem 0.8rem 0rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .item-14-yW5 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
            .scatter-lines-HWm {
              left: 5.8rem;
              top: 0.6rem;
              row-gap: 5rem;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              width: 52.9rem;
              height: 25.6rem;
              border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
              border-top: solid 0.1rem rgba(41, 41, 41, 0.150000006);
              padding: 5.1rem 0;
              position: absolute;
              align-items: center;

              .line-16-mgq {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(41, 41, 41, 0.150000006);
                flex-shrink: 0;
              }
              .line-15-WuK {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(41, 41, 41, 0.150000006);
                flex-shrink: 0;
              }
              .line-14-fXK {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(41, 41, 41, 0.150000006);
                flex-shrink: 0;
              }
              .line-13-BkZ {
                height: 0.1rem;
                background-color: rgba(41, 41, 41, 0.150000006);
                flex-shrink: 0;
                width: 100%;
              }
            }
            .scatter-plot-beads-JaH {
              object-fit: contain;
              vertical-align: top;
              width: 52.5rem;
              height: 22.1945rem;
              position: absolute;
              left: 6.2rem;
              top: 2.8rem;
            }
          }
        }
      }
    }
  }
}
