
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.meringkas-data-8A9 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .rectangle-1-GXF {
    margin-bottom: 2.1rem;
    width: 100%;
    height: 11.9rem;
    background-color: #292929;
    flex-shrink: 0;
  }
  .ringkas-data-DBb {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 2.4rem;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.2125;
  }
  .auto-group-xddf-vrh {
    box-sizing: border-box;
    padding: 2rem 0rem 1.091rem 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-a1pt-4T7 {
      height: 6.8004rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 0rem 1.1rem;
      width: calc(100% - 1.1rem);

      .select-data-set-NTo {
        margin: 0rem 6.9rem 0.9rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-ufyo-6Po {
        position: relative;
        border-top: solid 0.1rem rgba(41, 41, 41, 0.5500000119);
        box-sizing: border-box;
        border-bottom: solid 0.1rem rgba(41, 41, 41, 0.5500000119);
        flex-shrink: 0;
        width: 165.6rem;
        height: 100%;

        .row-3K3 {
          top: 0.5004rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 4.1rem;
          position: absolute;
          left: 1.3rem;
          color: #000000;
          height: 2.5rem;
        }
        .column-9ss {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1.2125;
          position: absolute;
          left: 1.3rem;
          top: 3.8004rem;
          font-weight: 400;
          color: #000000;
          width: 7.2rem;
          height: 2.5rem;
        }
        .line-4-frD {
          left: 0;
          top: 3.4004rem;
          background-color: rgba(41, 41, 41, 0.5500000119);
          width: 165.6rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-5-cFf {
          left: 11.15rem;
          top: 0;
          background-color: rgba(41, 41, 41, 0.5500000119);
          width: 0.1rem;
          height: 6.7007rem;
          position: absolute;
        }
      }
    }
    .line-2-hH7 {
      margin-bottom: 2.3rem;
      width: 24.0133rem;
      height: 0.1rem;
      background-color: rgba(41, 41, 41, 0.5500000119);
      flex-shrink: 0;
    }
    .auto-group-jjwy-2aH {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 49.1rem 0rem 1.1rem;
      width: calc(100% - 50.2rem);
      display: flex;

      .auto-group-ik85-MMf {
        flex-shrink: 0;
        margin-right: 5.5rem;
        width: 21.4rem;
        row-gap: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-72rh-HWD {
          white-space: nowrap;
          flex-shrink: 0;
          padding: 0.7rem 1.8rem 0.6rem 1.8rem;
          width: 100%;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          font-size: 1.6rem;
          line-height: 1.2125;
          background-color: #36da27;
          border-radius: 2rem;
        }
        .auto-group-wbuh-NnZ {
          box-sizing: border-box;
          font-size: 1.6rem;
          color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 0.7rem 1.8rem 0.6rem 1.8rem;
          width: 100%;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #36da27;
        }
        .auto-group-s8uk-UKo {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          background-color: #36da27;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 0.7rem 1.8rem 0.6rem 1.8rem;
          width: 100%;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-ohbj-YU5 {
          flex-shrink: 0;
          padding: 0.7rem 1.8rem 0.6rem 1.8rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          background-color: #36da27;
          border-radius: 2rem;
          box-sizing: border-box;
          width: 100%;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-w42h-D4R {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #36da27;
          border-radius: 2rem;
          box-sizing: border-box;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          padding: 0.7rem 1.8rem 0.6rem 1.8rem;
          width: 100%;
          color: #ffffff;
        }
      }
      .scatter-plot-Jbf {
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-top: 0.7rem;
        box-sizing: border-box;
        padding: 4.508rem 4.869rem 5.452rem 2.9rem;
        width: 113.6rem;
        height: 73.2089rem;

        .scatter-plot-1ky {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;

          .numdealspurchases-mVF {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 6.692rem 3.05rem;
            font-size: 2.6rem;
          }
          .auto-group-fmau-f4q {
            width: 100%;
            height: 53.3568rem;
            position: relative;
            flex-shrink: 0;

            .row-CaZ {
              width: 8.1rem;
              height: 39.3rem;
              position: absolute;
              left: 0;
              top: 0;
              align-items: flex-end;
              display: flex;
              flex-direction: column;

              .item-1000-LAy {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0.7rem 6.7rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .item-800-eSZ {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
              .auto-group-wgxf-ZpR {
                margin: 0rem 1.2rem 6.2rem 0rem;
                width: calc(100% - 1.2rem);
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .frequency-6ZT {
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 0.7rem;
                  max-width: 2.4rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                }
                .item-600-RLq {
                  margin-bottom: 0.5rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-400-YgM {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 1.2rem 6.7rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-200-fky {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.2rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .col-buX {
              width: 94.2825rem;
              height: 7.3505rem;
              position: absolute;
              left: 7.0175rem;
              top: 46.0063rem;
              display: flex;
              align-items: center;

              .item-0-vB7 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 9.158rem 4.85rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
              }
              .item-2-q3B {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.043rem 0.162rem 0rem;
              }
              .item-4-9pZ {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 12.044rem 0.162rem 0rem;
                font-size: 2rem;
              }
              .item-6-5y7 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.847rem 0.162rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .auto-group-bu4q-DJd {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 2.344rem 11.69rem 0rem 0rem;
                align-items: flex-end;

                .item-8-9i5 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 0.304rem 1.106rem 0rem;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .numdealspurchases-HZP {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
              }
              .item-10-d7T {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 11.9rem 0.063rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .item-12-xQd {
                flex-shrink: 0;
                margin: 0rem 11.9rem 0.063rem 0rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-14-h7K {
                flex-shrink: 0;
                margin-bottom: 0.0632rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .scatter-lines-pxd {
              position: absolute;
              row-gap: 9.0962rem;
              align-items: center;
              display: flex;
              box-sizing: border-box;
              width: 95.3879rem;
              height: 46.0809rem;
              flex-direction: column;
              border-bottom: solid 0.1rem #e8e8e8;
              border-top: solid 0.1rem #e8e8e8;
              padding: 9.196rem 0rem 9.196rem 0rem;
              left: 10.4435rem;
              top: 1.1073rem;

              .line-16-WaZ {
                width: 100%;
                height: 0.1rem;
                background-color: #e8e8e8;
                flex-shrink: 0;
              }
              .line-15-TVo {
                flex-shrink: 0;
                width: 100%;
                height: 0.1rem;
                background-color: #e8e8e8;
              }
              .line-14-Qfw {
                width: 100%;
                height: 0.1rem;
                background-color: #e8e8e8;
                flex-shrink: 0;
              }
              .line-13-NMs {
                width: 100%;
                height: 0.1rem;
                background-color: #e8e8e8;
                flex-shrink: 0;
              }
            }
            .scatter-plot-beads-WDB {
              vertical-align: top;
              width: 94.6667rem;
              height: 40.0206rem;
              position: absolute;
              left: 11.1648rem;
              top: 5.0743rem;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
