
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.view-data-sets-Lgd {
  padding-bottom: 6.9rem;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #fefffc;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .navbar-G4V {
    margin-bottom: 5.8rem;
    width: 100%;
    height: 11.9rem;
    background-color: #292929;
    flex-shrink: 0;
  }
  .auto-group-3hxb-125 {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 14.9rem 0rem 15rem;
    width: calc(100% - 29.9rem);
    height: 83.4rem;
    display: flex;

    .auto-group-gkg5-Jms {
      margin-right: 4.4rem;
      width: 47.7rem;
      flex-shrink: 0;

      .data-sets-3jT {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.6rem;
        font-size: 7rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .auto-group-fumb-Ap5 {
        position: relative;
        width: 100%;
        height: 70.3002rem;

        .line-24-Wd3 {
          height: 70.3002rem;
          position: absolute;
          left: 25.5rem;
          top: 0;
          background-color: rgba(41, 41, 41, 0.5500000119);
          width: 0.1rem;
        }
        .data-set-1-2rH {
          position: absolute;
          left: 27.3rem;
          top: 5.6rem;
          font-size: 2.2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 10.4rem;
          height: 2.7rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .fields-7sj {
          width: 7.4rem;
          position: absolute;
          font-size: 2.6rem;
          font-weight: 500;
          height: 3.2rem;
          left: 27.3rem;
          top: 13.1rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-3cgv-pXF {
      padding: 11.1rem 0rem 2rem 8.1rem;
      width: 110rem;
      height: 100%;
      flex-shrink: 0;
      box-sizing: border-box;

      .table-ju7 {
        width: 100%;
        height: 100%;
        position: relative;
        border: solid 0.1rem rgba(41, 41, 41, 0.5500000119);
        box-sizing: border-box;

        .count-of-fish-JBX {
          left: 46.0106rem;
          top: 3.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 10.1rem;
          height: 28.0725rem;
          position: absolute;

          .count-of-fish-R1F {
            flex-shrink: 0;
            margin-bottom: 3.1068rem;
            text-align: center;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.6rem;
            line-height: 1.2125;
          }
          .item-10-KsK {
            font-weight: 400;
            flex-shrink: 0;
            margin: 0rem 0rem 3.793rem 0rem;
            text-align: center;
            font-size: 1.3rem;
            white-space: nowrap;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-21-2mj {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin: 0rem 0rem 3.724rem 0rem;
            display: flex;
          }
          .item-15-LXX {
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 3.724rem 0rem;
            display: flex;
            font-size: 1.3rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-32-4TX {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 3.724rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
          }
          .item-25-BY9 {
            display: flex;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0rem;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            flex-shrink: 0;
          }
        }
        .education-hWV {
          top: 3.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 9.3rem;
          height: 28.0725rem;
          position: absolute;
          left: 4.6791rem;

          .education-Dzd {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.923rem 3.107rem 0rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .primary-school-Yn1 {
            margin-bottom: 2.1241rem;
            text-align: center;
            font-size: 1.3rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .junior-high-school-spH {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 3.7934rem;
            max-width: 7rem;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            display: flex;
            font-size: 1.3rem;
            color: #000000;
          }
          .high-school-Ba5 {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 3.7241rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
          }
          .college-Jeh {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3.7241rem;
            align-items: center;
            font-size: 1.3rem;
            line-height: 1.2125;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 400;
          }
          .university-q8q {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.3rem;
            font-weight: 400;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
        }
        .table-line-a6R {
          position: absolute;
          align-items: center;
          border-bottom: solid 0.1rem rgba(41, 41, 41, 0.150000006);
          border-top: solid 0.3rem rgba(41, 41, 41, 0.150000006);
          top: 6.3858rem;
          row-gap: 5.2241rem;
          display: flex;
          box-sizing: border-box;
          padding: 5.298rem 0rem 5.324rem 0rem;
          width: 97.3rem;
          height: 26.6944rem;
          left: 2.3rem;
          flex-direction: column;

          .line-22-FiM {
            margin-right: 0.0002rem;
            width: calc(100% - 0.0002rem);
            height: 0.1rem;
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
          }
          .line-21-b1X {
            width: calc(100% - 0.0002rem);
            height: 0.1rem;
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            margin-right: 0.0002rem;
          }
          .line-20-Xfs {
            margin-right: 0.0002rem;
            width: calc(100% - 0.0002rem);
            height: 0.1rem;
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
          }
          .line-19-TpR {
            height: 0.1rem;
            background-color: rgba(41, 41, 41, 0.150000006);
            flex-shrink: 0;
            margin: 0rem 0rem 0rem 0rem;
            width: calc(100% - 0.0002rem);
          }
        }
      }
    }
  }
}
